<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <title>アーティスト登録</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>アーティスト登録</h1>

            <form th:action="@{/master/artist}" method="post" th:object="${registerArtistForm}">
                <label>
                    名前 : <input type="text" th:field="*{name}" />
                </label>
                <label>
                    ホームページ URL : <input type="text" th:field="*{homePageUrl}" />
                </label>
                <input type="submit" value="登録" />

                <h2 th:if="${domainException}">[[${domainException.message}]]</h2>

                <ul>
                    <li th:each="error : ${#fields.allErrors()}">[[${error}]]</li>
                </ul>
            </form>
            
            <h2>[[${message}]]</h2>
            
            <hr>
            
            <ul>
                <li th:each="artist : ${artists.list}">
                    <a th:href="@{/master/artist/{artistId}(artistId = ${artist.id.value})}">
                        [[${artist.name.value}]]
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
