<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <title>会場更新</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>会場更新</h1>
            <form th:action="@{/master/venue/{venueId}(venueId = ${venueId})}"
                  method="post" th:object="${modifyVenueForm}">
                <label>
                    名前 : <input type="text" th:field="*{name}" />
                </label>
                <label>
                    住所 : <input type="text" th:field="*{address}" />
                </label>
                <label>
                    ホームページ URL : <input type="text" th:field="*{homePageUrl}" />
                </label>
                <input type="submit" value="更新" />
                
                <h2 th:if="${domainException}">[[${domainException.message}]]</h2>
                
                <ul>
                    <li th:each="error : ${#fields.allErrors()}">[[${error}]]</li>
                </ul>
            </form>
            
            <h2>[[${message}]]</h2>
            
            <a th:href="@{/master/venue}">戻る</a>
        </div>
    </body>
</html>
