<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <title>Hello World</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form th:action="@{/hello}" method="post" th:object="${helloForm}">
                <label>
                    Code : <input type="text" th:field="*{code}" />
                </label>
                <label>
                    Name : <input type="text" th:field="*{name}" />
                </label>
                <input type="submit" value="Add" />
            </form>
            
            <hr>
            
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
                <tr th:each="record : ${records}">
                    <td>[[${record.id}]]</td>
                    <td>[[${record.code}]]</td>
                    <td>[[${record.name}]]</td>
                </tr>
            </table>
        </div>
    </body>
</html>