<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title layout:title-pattern="$CONTENT_TITLE">Live Manager</title>
        <style>
            .menu-item {
                display: inline-block;
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <div>
            <ul>
                <li class="menu-item"><a th:href="@{/master/artist}">アーティストメンテ</a></li>
                <li class="menu-item"><a th:href="@{/master/venue}">会場メンテ</a></li>
                <li class="menu-item"><a th:href="@{/live/register}">ライブ登録</a></li>
                <li class="menu-item"><a th:href="@{/live}">ライブ一覧</a></li>
            </ul>
        </div>
    
        <div layout:fragment="content">
        </div>

        <th:block th:if="${@loginUser.isAuthenticated()}">
            <hr>
    
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </th:block>
    </body>
</html>
