<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <title>ライブ一覧</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>ライブ一覧</h1>
            
            <ul>
                <li th:each="live : ${allLives.getList()}">
                    <a th:href="@{/live/{liveId}(liveId = ${live.id.value})}">
                        [[${live.attributes.name.value}]]
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
