<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <title>ライブ修正</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2 th:if="${message}">[[${message}]]</h2>
            
            <form th:action="@{/live/{liveId}(liveId = ${liveId})}" method="post" th:object="${modifyLiveForm}">
                <h2 th:if="${domainException}">[[${domainException.message}]]</h2>
                
                <label>
                    名前 : <input type="text" th:field="*{name}" />
                </label>

                <label>場所:
                    <select th:field="*{venueId}">
                        <option value="0">会場を選択してください</option>
                        <option th:each="venue : ${allVenues.list}"
                                th:value="${venue.id.value}"
                                th:text="${venue.name.value}">
                        </option>
                    </select>
                </label>
                
                <label>
                    URL : <input type="text" th:field="*{homePageUrl}" />
                </label>
                
                <input type="submit" value="更新" name="modify" />

                <ul>
                    <li th:each="error : ${#fields.allErrors()}">[[${error}]]</li>
                </ul>
            </form>
                
            <hr>
            
            <form th:action="@{/live/{liveId}(liveId = ${liveId})}" method="post" th:object="${addPerformanceForm}">
                <h2>公演</h2>
                
                <label>
                    公演日: <input type="date" th:field="*{date}" />
                </label>
                
                <label>
                    開場時間:
                    <select th:field="*{openHour}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select> 時
                    <select th:field="*{openMinute}">
                        <option value="0">0</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select> 分
                </label>

                <label>
                    開演時間:
                    <select th:field="*{startHour}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select> 時
                    <select th:field="*{startMinute}">
                        <option value="0">0</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select> 分
                </label>
                
                <input type="submit" name="add-performance" value="追加" />

                <ul>
                    <li th:each="error : ${#fields.allErrors()}">[[${error}]]</li>
                </ul>
            </form>
            <hr>
            
            <form th:action="@{/live/{liveId}(liveId = ${liveId})}" method="post" >
                <table border="1">
                    <tr>
                        <th>公演日</th>
                        <th>開場時間</th>
                        <th>開演時間</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr th:each="performance : ${performances.getList()}">
                        <td>
                            <a th:href="@{/live/{liveId}/performance/{performanceId}(liveId=${liveId}, performanceId=${performance.id.value})}">
                                [[${performance.date.format()}]]
                            </a>
                        </td>
                        <td>[[${performance.openTime.format()}]]</td>
                        <td>[[${performance.startTime.format()}]]</td>
                        <td>
                            <button type="submit" name="remove-performance" th:value="${performance.id.value}">
                                削除
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>