<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <head>
        <title>ライブ登録</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form th:action="@{/live/register}" method="post" th:object="${registerLiveForm}">
                <h2 th:if="${domainException}">[[${domainException.message}]]</h2>
                
                <label>
                    名前 : <input type="text" th:field="*{name}" />
                </label>

                <label>場所:
                    <select th:field="*{venueId}">
                        <option value="0">会場を選択してください</option>
                        <option th:each="venue : ${allVenues.list}"
                                th:value="${venue.id.value}"
                                th:text="${venue.name.value}">
                        </option>
                    </select>
                </label>
                
                <label>
                    URL : <input type="text" th:field="*{homePageUrl}" />
                </label>
                
                <input type="submit" value="登録" />
                
                <hr>
                
                <ul>
                    <li th:each="error : ${#fields.allErrors()}">[[${error}]]</li>
                </ul>
            </form>
        </div>
    </body>
</html>